@use "base";
@use 'reset';
@use 'sass:math';

body {
  font-family: sans-serif;
  font-size: base.$base-font-size;
  line-height:base.$base-line-height;
  background: base.$gray;
  margin-bottom: base.rhythm(1);
}

a {
  color: base.$black;
}

.inline-icon {
  svg {
    margin-right: base.rhythm(1/4);
    width: 1em;
    height: 1em;
    vertical-align: middle;
    background: transparent;
  }
}

h1 {
  @include base.adjust-font-size-to(48px, 2);
}

ul.inline-list {
  @include base.adjust-font-size-to(14px, math.div(2,3));
  // @include base.clearfix;

  li {
    list-style-type: none;
    display: inline-block;
    white-space: nowrap;

    &::after {
      content: '//';
      padding: 0 base.rhythm(1/4);
    }

    &:last-child::after {
      content: '';
    }
  }
}

.svg-container {
  min-width: 200px;

  &.loading .svg {
    position: absolute;
    top: -10000px;
  }
}

header {
  background: base.$green;
  background: linear-gradient(to bottom, base.$green 0%, base.$dark-green 100%);
  padding: base.rhythm(1);
  @include base.box-shadow;
  // @include base.clearfix;

  .logo {
    display: inline-block;

    span {
      color: base.$gray;
    }
  }

  h1 {
    font-family: 'Bangers', 'cursive';
  }

  nav {
    @include base.adjust-font-size-to(18px, 1);
    display: inline-block;
    margin-left: base.rhythm(1/4);
    padding-left: base.rhythm(1/4);
  }

  a {
    text-decoration: inherit;

    &:active, &:focus {
      text-decoration: underline;
    }
  }
}

#content {
  padding: base.rhythm(1);
  display: block;

  .copy {
    background-color: base.$tan;
    padding: base.rhythm(1/2);
  }

  .changelog {
    dt {
      font-weight: bold;
    }

    dd {
      &::before {
        content: '\00BB';
        font-weight: bold;
        margin-right: base.rhythm(1/2);
      }
    }
  }

  .error {
    overflow: hidden;

    h1 {
      @include base.adjust-font-size-to(base.$base-font-size * 2);
      font-weight: bold;
      float: left;
    }

    blockquote {
      background-color: base.$green;
      position: relative;
      padding: base.rhythm(1);
      // display: inline-block;
      font-style: italic;
      float: right;

      &::before {
        @include base.adjust-font-size-to(base.$base-font-size * 4);
        content: '\201c';
        position: absolute;
        left: 0;
        top: 0;
        font-style: normal;
      }

      &::after {
        @include base.adjust-font-size-to(base.$base-font-size * 4);
        content: '\201d';
        position: absolute;
        right: 0;
        bottom: -0.5em;
        font-style: normal;
      }
    }

    p {
      clear: left;
    }
  }

  .documentation {
    h1 {
      @include base.adjust-font-size-to(base.$base-font-size * 2);
      font-weight: bold;
    }

    h2 {
      @include base.adjust-font-size-to(base.$base-font-size);
      font-weight: bold;
    }

    h3 {
      @include base.adjust-font-size-to(base.$base-font-size);

      &::before {
        content: '\00BB';
        font-weight: bold;
        margin-right: base.rhythm(1/4);
      }
    }

    h1, h2, h3 {
      clear: both;
    }

    h2, h3 {
      margin-bottom: base.rhythm(1);
    }

    section, div.section {
      margin: base.rhythm(1) 0;
      overflow: hidden;
    }

    p {
      margin: base.rhythm(1) 0;
    }

    figure {
      line-height: 0;
      background: base.$white;
      margin: base.rhythm(1/4);
      @include base.box-shadow;

      &.shift-right {
        float: right;
        margin-left: base.rhythm(1/2);
      }

      &.shift-left {
        float: left;
        margin-right: base.rhythm(1/2);
      }

      .svg {
        margin: 0;
        text-align: center;
      }

      figcaption {
        @include base.adjust-font-size-to(base.$base-font-size);
        background: base.$green;
        font-weight: bold;
        padding: 0 base.rhythm(1/4);
      }
    }
  }

  .application {
    position: relative;
    // @include base.clearfix;

    form {
      overflow: hidden;
    }

    textarea {
      @include base.adjust-font-size-to(base.$base-font-size);
      border: 0 none;
      outline: none;
      background: base.$tan;
      padding: 0 0.5em;
      margin-bottom: 0.25em;
      width: 100% !important; // "!important" prevents user changing width
      box-sizing: border-box;
      font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;

      @include base.input-placeholder {
        color: base.$gray;
      }
    }

    button {
      @include base.adjust-font-size-to(base.$base-font-size);
      width: 100px;
      border: 0 none;
      background: base.$green;
      background: linear-gradient(to bottom, base.$green 0%, base.$dark-green 100%);
      float: left;
      cursor: pointer;
    }

    ul {
      float: right;
      display: none;

      body.has-results & {
        display: inline-block;
      }

      &.hide-download-png.hide-permalink .download-svg:after,
      &.hide-permalink .download-png:after {
        display: none;
      }

      &.hide-permalink .permalink,
      &.hide-download-svg .download-svg,
      &.hide-download-png .download-png {
        display: none;
      }
    }
  }

  .results {
    margin-top: base.rhythm(1);
    display: none;

    body.has-results &, body.has-error &, body.is-loading & {
      display: block;
    }
  }
}

.progress {
  width: 50%;
  height: base.rhythm(1/2);
  border: 1px solid base.$dark-green;
  overflow: hidden;
  margin: base.rhythm(1) auto;

  div {
    background: base.$green;
    background: linear-gradient(135deg, base.$green 25%, base.$light-green 25%, base.$light-green 50%, base.$green 50%, base.$green 75%, base.$light-green 75%, base.$light-green 100%);
    background-size: base.rhythm(2) base.rhythm(2);
    background-repeat: repeat-x;
    height: 100%;
    animation: progress 1s infinite linear
  }
}

@keyframes progress {
  0% { background-position-x: base.rhythm(2); }
  100% { background-position-x: 0; }
}

#error {
  background: base.$red;
  color: base.$white;
  padding: 0 0.5em;
  white-space: pre;
  font-family: monospace;
  font-weight: bold;
  display: none;
  overflow-x: auto;

  body.has-error & {
    display: block;
  }
}

#warnings {
  @include base.adjust-font-size-to(base.$base-font-size, 1);
  font-weight: bold;
  background-color: base.$yellow;
  display: none;

  li {
    margin: base.rhythm(1/4);
  }

  body.has-results & {
    display: block;
  }
}

#regexp-render {
  background: base.$white;
  width: 100%;
  overflow: auto;
  text-align: center;
  display: none;

  body.is-loading &,
  body.has-results & {
    display: block;
  }
}

#open-iconic {
  display: none;

  path {
    stroke: none;
    fill-opacity: 1;
  }
}

footer {
  padding: 0 base.rhythm(1);

  img {
    vertical-align: middle;
    width: 80px;
    height: 15px;
  }
}
