@use 'base';

svg {
  background-color: base.$white;
}

.root text,
.root tspan {
  font: 12px Arial;
}

.root path {
  fill-opacity: 0;
  stroke-width: 2px;
  stroke: base.$black;
}

.root circle {
  fill: base.$gray;
  stroke-width: 2px;
  stroke: base.$black;
}

.anchor text, .any-character text {
  fill: base.$white;
}

.anchor rect, .any-character rect {
  fill: base.$gray;
}

.escape text, .charset-escape text, .literal text {
  fill: base.$black;
}

.escape rect, .charset-escape rect {
  fill: base.$green;
}

.literal rect {
  fill: base.$blue;
}

.charset .charset-box {
  fill: base.$tan;
}

.subexp .subexp-label tspan,
.charset .charset-label tspan,
.match-fragment .repeat-label tspan {
  font-size: 10px;
}

.repeat-label {
    cursor: help;
}

.subexp .subexp-label tspan,
.charset .charset-label tspan {
  dominant-baseline: text-after-edge;
}

.subexp .subexp-box {
  stroke: base.$light-gray;
  stroke-dasharray: 6,2;
  stroke-width: 2px;
  fill-opacity: 0;
}

.quote {
  fill: base.$light-gray;
}
